.contact-page {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  .form-layouts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    .input-text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      input,
      textarea {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        border: none;
        background-color: #fff;
        padding: 10px;
        font-size: 0.875rem;
        color: black;
        line-height: 1.25rem;
        width: 80%;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      }
      textarea {
        height: 200px;
      }
    }
    .send-btn-div {
      position: absolute;
      bottom: 80px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    #btn-message {
      --text-color: #000;
      --bg-color-sup: #d2d2d2;
      --bg-color: #fff;
      --bg-hover-color: #ffffff;
      --online-status: #00da00;
      --font-size: 16px;
      --btn-transition: all 0.2s ease-out;
    }

    .button-message {
      display: flex;
      justify-content: center;
      align-items: center;
      font: 400 var(--font-size) Helvetica Neue, sans-serif;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background-color: var(--bg-color);
      border-radius: 68px;
      cursor: pointer;
      padding: 6px 10px 6px 6px;
      width: 80%;
      height: 60px;
      border: 0;
      gap: 20px;
      overflow: hidden;
      position: relative;
      transition: var(--btn-transition);
    }

    .button-message:hover {
      height: 56px;
      padding: 8px 20px 8px 8px;
      background-color: var(--bg-hover-color);
      transition: var(--btn-transition);
    }

    .button-message:active {
      transform: scale(0.99);
    }

    .content-avatar {
      width: 30px;
      height: 30px;
      margin: 0;
      transition: var(--btn-transition);
      position: relative;
    }

    .button-message:hover .content-avatar {
      width: 40px;
      height: 40px;
    }

    .avatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      background-color: var(--bg-color-sup);
    }

    .user-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .status-user {
      position: absolute;
      width: 6px;
      height: 6px;
      right: 1px;
      bottom: 1px;
      border-radius: 50%;
      outline: solid 2px var(--bg-color);
      background-color: var(--online-status);
      transition: var(--btn-transition);
      animation: active-status 2s ease-in-out infinite;
    }

    .button-message:hover .status-user {
      width: 10px;
      height: 10px;
      right: 1px;
      bottom: 1px;
      outline: solid 3px var(--bg-hover-color);
    }

    .notice-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 8px;
      text-align: initial;
      color: var(--text-color);
    }

    .username {
      letter-spacing: -6px;
      height: 0;
      opacity: 0;
      transform: translateY(-20px);
      transition: var(--btn-transition);
    }

    .user-id {
      font-size: 12px;
      letter-spacing: -6px;
      height: 0;
      opacity: 0;
      transform: translateY(10px);
      transition: var(--btn-transition);
    }

    .lable-message {
      display: flex;
      align-items: center;
      opacity: 1;
      transform: scaleY(1);
      transition: var(--btn-transition);
    }

    .button-message:hover .username {
      height: auto;
      letter-spacing: normal;
      opacity: 1;
      transform: translateY(0);
      transition: var(--btn-transition);
    }

    .button-message:hover .user-id {
      height: auto;
      letter-spacing: normal;
      opacity: 1;
      transform: translateY(0);
      transition: var(--btn-transition);
    }

    .button-message:hover .lable-message {
      height: 0;
      transform: scaleY(0);
      transition: var(--btn-transition);
    }

    .lable-message,
    .username {
      font-weight: 600;
    }

    .number-message {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 8px;
      font-size: 12px;
      width: 16px;
      height: 16px;
      background-color: var(--bg-color-sup);
      border-radius: 20px;
    }

    @keyframes active-status {
      0% {
        background-color: var(--online-status);
      }

      33.33% {
        background-color: #93e200;
      }

      66.33% {
        background-color: #93e200;
      }

      100% {
        background-color: var(--online-status);
      }
    }
  }
  .notification {
    position: fixed;
    bottom: 60px;
    width: 70%;
    left: 50%;
    opacity: 80%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Green for success */
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .close-icon {
    cursor: pointer;
  }

  .notification.error {
    background-color: #ef665b;
  }

  .notification button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 16px;
  }
}
